 <!--==========================
    Footer
  ============================-->


 <!-- footer -->


 <footer class="footer-end py-4">
    <div class="footerTopWide  pb-2">

        <div class="container">
            <div class="row align-items-center ">
                <div class="col-sm-5 col-xs-12">

                    <ul class="footermenu">


                        <li><a href="#">تواصل معنا </a></li>
                        <li><a href="#">وظائف </a></li>


                        <li><a href="#">الفروع </a></li>





                    </ul>
                    <div class="clearfix"></div>
                    <div class="footer-social d-flex  pt-3 pb-3 ">
                        <h6 class="pr-3 pl-0">تواصل</h6>
                        <p>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>


                            <a href="#"><i class="fab fa-snapchat"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook-messenger"></i></a>
                        </p>


                    </div>

                    <div class="clearfix"></div>
                    <ul class="payment-img">


                        <li>
                            <span>
                                <img src="../../../../assets/images/payment/mada.png" class="img-thumbnail" alt="مدى" /></span>
                        </li>
                        <li>
                            <span>
                                <img src="../../../../assets/images/payment/visa.png" class="img-thumbnail" alt="فيزا" /></span>
                        </li>

                        <li>
                            <span>
                                <img src="../../../../assets/images/payment/master.png" class="img-thumbnail" alt="ماستر كارد" /></span>
                        </li>

                        <li>
                            <span>
                                <img src="../../../../assets/images/payment/cash.png" class="img-thumbnail" alt="نقدى" /></span>
                        </li>

                    </ul>



                </div>


                <div class="col-sm-4 col-xs-12 ask">
                    <h2 class="mt-0 pt-0">
                        عندك سؤال؟
                    </h2>
                    <h6>تواصل معنا يومياً على الواتس أب
                        أو الايميل
                    </h6>


                    <h3 class="mb-1">
                        <i class="fab fa-whatsapp"></i> 078 208 555 966 +
                    </h3>
                    <h5 class="pt-0">
                        <i class="far fa-envelope-open"></i> <a href="mailto:customercare@efadcar.com">
                            customercare@efadcar.com
                        </a>
                    </h5>


                </div>



                <div class="col-sm-3 col-xs-12 text-center logo-footer">

                    <img src="../../../../assets/images/footer-logo.svg" alt="Efad" class="footerlogo" />
                </div>



            </div>
        </div>
    </div>

    <div class="footerMidWide  mt-2 mb-2">

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <ul class="footerBottomMenu">

                        <li><a href="accessibility_policy_ar.aspx">الشروط و الأحكام</a></li>
                        <li><a href="privacy_policy_ar.aspx">سياسة الخصوصية</a></li>
                        <li><a href="privacy_policy_ar.aspx">خريطة الموقع</a></li>
                    </ul>
                    <p class="pt-1"> جميع الحقوق محفوظة © 2019 </p>
                </div>


                <div class="col-sm-3 col-xs-12 text-center ">
                    <a href="#" class="btn btn-default lang ">English <img src="../../../../assets/images/en-lang.svg" alt="English" />
                    </a>

                </div>


            </div>


        </div>


    </div>

</footer>
