/*********************************
footer
*******************************/

.footer-end
{
	background: #fff; color:#61656c; margin-top:40px
}
.footer-end p{margin:0}
.footerTopWide {
    
	border-bottom: 1px solid #f0f0f0;}

.footerMidWide {
 
}
.footer-end h6, .footer-end h4{color:#61656c; padding: 1rem 0 0 0}
.footer-end a{color:#61656c}
.footer-end a:hover{color:#868a90}
.footermenu li{
	
	float:right; 
	padding-left:1rem
	
	
}
.footermenu li a{position:relative}
.footermenu li a:after{content:''; background:#868a90; width:0px; height:2px; bottom:0px; position:absolute; left:50%; transform: translate(-50%); -ms-transform:translate(-50%); /* IE 9 */
  -webkit-transform: translate(-50%); /* Safari */  -webkit-transition: width 0.3s /* For Safari 3.1 to 6.0 */;
  transition: width 0.3s;}
.footermenu li a:hover:after {
 width:100%
  
	
}

.footerTopWide img.footerlogo{width:60%}
.footer-social a {
    display: inline-block;
    margin-left: 20px;
 
   font-size:1.8rem;
    border: 0;  padding-top:5px; 
}

.footer-social a:hover, .footer-social a:focus { color: #123453; border: 0; }

.payment-img{ width:100%}
.payment-img li{  float:right; padding-left:0.2em }


.ask p i {
    padding: 0.5rem
}

.ask .fa-whatsapp {
    color:#1bbc9d
}
.ask .fa-envelope-open {
    color:#118AFF
}
.footerBottomMenu {
    text-align: right;
}
.footerBottomMenu li {
    display: inline-block;
}

.footerBottomMenu li a {
    border-left: 1px solid #f0f0f0;
    border-right: none;  padding: 0 12px;
}
.footerBottomMenu li:last-child a{border: 0 none}
 .footerBottomMenu a {
    font-size: 14px !important;
}


.footerBottomMenu li:first-child a{padding-right:0}

.footer-end .btn-default{border-color:#61656c; background:#f0f0f0; color:#61656c; margin-top:1em}
.footer-end .btn-default:hover{ background:#61656c; color:#fff}
