
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700"');

body {
    background: #fff;
    color: #444;
    font-family: 'Cairo';
    direction: rtl
  }
  
  a {
    color: #1bb1dc;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   font-family: 'Cairo';
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  ol, ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6{font-weight:normal; margin-top: 0px; margin-bottom: 20px; text-transform: capitalize; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 2.6rem; font-style: normal; line-height: 3.2rem; font-weight: 700;color: #333; }
h2 {
    font-size: 1.8rem;
    font-style: normal;
    line-height:2.5rem;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
}
h3 { font-size: 1.5rem; font-style: normal; line-height: 2.2rem; font-weight: 600;}
h4 { font-size:1.3rem; font-style: normal; margin-bottom: 10px; font-weight: 600; line-height: 2rem; color: #333;}
h5 { font-size:1.1rem; font-style: normal; margin-bottom: 10px; font-weight: 600; line-height: 1.8rem; color: #333;}
h6 {
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}
.gray-color
{
  color: #9a929e;
}
.m-t-em-5
{
  margin-top: 5em
}
.m-b-em-6
{
  margin-bottom: 6em;
}
ul { margin: 0px; padding: 0px; }
u {text-decoration-style: wavy;}


/* ------------------------
    General
------------------------*/
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #343d42; text-decoration: none !important; }
a, button, input { outline: medium none !important; color: #929292; }

a:hover{color: #333; }

*::-moz-selection { background: #343d42; color: #fff; text-shadow: none; }
::-moz-selection { background: #343d42; color: #fff; text-shadow: none; }
::selection { background: #343d42; color: #fff; text-shadow: none; }

.jumbotron{ background: #f0f0f0; }
.btn-success{background-color: #1bbc9d;
    border-color: #1bbc9d;}


/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

/* ------------------------
    Transition
------------------------*/
a, i, .btn, button, img, span, .animatedBackground, .navbar-nav .nav-link:before, .dropdown-item, .portfolio-item:before, .portfolio-item:after, .owl-item, .cases-item, .cases-description, .featured-item .featured-icon i, .featured-item, .featured-icon, .price-table, .portfolio-filter button, .post .post-desc, .sidebar-links li a, .team-description, .login-link
{-webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
 

/* ------------------------
    Transform translate
------------------------*/

/*--translate-X--*/
.transform-x, .bnr-animation, .text-center .title:before{transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%);}

/*--translate-Y--*/
.transform-y, .bnr-img2, .image-column, .counter i, .align-center, .clear-loader, .widget-searchbox .search-btn, .featured-item.style-3 .featured-icon, .post-queto .item span{transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%);}

/*--translate-XY--*/
.clear-loader, .pattern-3, .video-btn-pos, .insideText{transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);}

/*--translate-X-5--*/
.navbar-nav .dropdown-menu .nav-link:focus, .navbar-nav .dropdown-menu .nav-link:hover{transform: translateX(5px); -webkit-transform: translateX(5px); -o-transform: translateX(5px); -ms-transform: translateX(5px); -moz-transform: translateX(5px);}

/*--translate-Y-5--*/
.featured-item:hover{transform: translateY(5px); -webkit-transform: translateY(5px); -o-transform: translateY(5px); -ms-transform: translateY(5px); -moz-transform: translateY(5px);}


/* ------------------------
    Box Shadow
------------------------*/
.box-shadow, .boxed-view, .btn, #header-wrap.fixed-header, #ht-main-nav, .search-input, .featured-item.style-2, .testimonial .testimonial-img img, .testimonial .testimonial-quote, .price-table, .tab .nav-tabs .nav-link, .post, .post-author-img, .post.style-2 .post-desc, .work-process.style-2 .step-num, .cases-item:hover, .active.center .cases-item, .tab.style-2 .tab-content, .featured-item:hover,  .info-inner, .accordion .card-header, .media-holder .media, .team-member:hover .team-description, .team-member.active .team-description, .team-member:hover .team-social-icon, .team-member.active .team-social-icon{-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.050); -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.050); box-shadow: 0px 0px 20px rgba(0,0,0,0.050);}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected{
    background-color: rgba(0,0,0,1) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

/* ------------------------
    Custom Margin
------------------------*/
.custom-mt-5{z-index: 99; position: relative; margin-top: -50px;}
.custom-mt-7{z-index: 99; position: relative; margin-top: -70px;}
.custom-mt-10{z-index: 99; position: relative; margin-top: -100px;}
.custom-mt-12{z-index: 99; position: relative; margin-top: -120px;}
.custom-mt-15{z-index: 99; position: relative; margin-top: -150px;}
.custom-mt-20{z-index: 99; position: relative; margin-top: -200px;}
.custom-mt-25{z-index: 99; position: relative; margin-top: -250px;}

.mt-2{margin-top: 20px;}
.mb-2{margin-bottom: 20px;}
/* ------------------------
    Custom Padding
------------------------*/
.custom-pt-18{ padding-top: 180px;}
.custom-pb-18{ padding-bottom: 180px;}


/* ------------------------
    Padding
------------------------*/
.px-10{padding-left: 100px !important; padding-right: 100px !important;}
.px-15{padding-left: 150px !important; padding-right: 150px !important;}
.px-20{padding-left: 200px !important; padding-right: 200px !important;}
.py-4{padding-top: 40px !important; padding-bottom: 40px !important;}
.py-8{padding-top: 80px !important; padding-bottom: 80px !important;}
.py-10{padding-top: 100px !important; padding-bottom: 100px !important;}
.py-15{padding-top: 150px !important; padding-bottom: 150px !important;}
.py-20{padding-top: 200px !important; padding-bottom: 200px !important;}

.pl-10{padding-left: 100px !important;}
.pr-10{padding-right: 100px !important;}
.pt-4{padding-top: 40px !important;}
.pb-4{padding-bottom: 40px !important;}
.pt-8{padding-top: 80px !important;}
.pb-8{padding-bottom: 80px !important;}
.pt-2{padding-top: 20px !important;}
.pt-10{padding-top: 100px !important;}
.pt-15{padding-top: 150px !important;}
.pt-20{padding-top: 200px !important;}
.pb-10{padding-bottom: 100px !important;}
.pb-15{padding-bottom: 150px !important;}
.pb-17{padding-bottom: 170px !important;}
.pb-20{padding-bottom: 200px !important;}
.pb-2{padding-bottom: 20px !important;}

.pa-25{padding: 25px}
.pa-35{padding: 35px}


/* ------------------------
    Margin
------------------------*/
section, header{padding-top:20px; padding-bottom: 20px}
.mt-2{margin-top: 20px !important;}
.mt-8{margin-top: 80px !important;}
.mt-10{margin-top: 100px !important;}
.mt-15{margin-top: 150px !important;}

.my-8{margin-top: 80px !important; margin-bottom: 80px !important;}
.my-10{margin-top: 100px !important; margin-bottom: 100px !important;}
.my-15{margin-top: 150px !important; margin-bottom: 150px !important;}
.my-20{margin-top: 200px !important; margin-bottom: 200px !important;}

/* ------------------------
    Pre Loader
------------------------*/
#ht-preloader {background: #ffffff; bottom: 0; height: 100%; left: 0; overflow: hidden !important; position: fixed; right: 0; text-align: center; top: 0; width: 100%; z-index: 99999;}
.clear-loader {z-index: 999; box-sizing: border-box; display: inline-block; left: 50%; position: absolute; text-align: center; top: 50%;}
.loader {display: flex; font-size: 2em; color: #ff7810;}
.loader-dots {display: flex; position: relative; top: 20px; left: -10px; width: 100px; animation: dots 4s ease infinite 1s;}
.loader-dots span {position: relative; width: 10px; height: 10px; margin-right: 10px; border-radius: 100%; background-color: black;}
.loader-dots span:nth-child(1) {width: 0px; height: 0px; margin: 5px; margin-right: 15px; animation: show-dot 4s ease-out infinite 1s;}
.loader-dots span:nth-child(4) {background-color: transparent; animation: dot-fall-left 4s linear infinite 1s;}
.loader-dots span:nth-child(4):before {position: absolute; width: 10px; height: 10px; margin-right: 10px; border-radius: 100%; background: #111121; content: ''; animation: dot-fall-top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;}

/* ------------------------
    Scroll to Top
------------------------*/
.scroll-top {position: fixed; bottom: 30px; right: 30px; z-index: 600; display:none}
.scroll-top a, .scroll-top a:visited {display: block; height: 30px; width: 30px; line-height: 30px; text-align: center; border-radius: 7px; -webkit-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-size:16px; color: #ffffff; background: #333;}
.scroll-top a:hover, .scroll-top a:focus {color: #ff7810; background: #ffffff;}
.scroll-top.scroll-visible {opacity: 1; visibility: visible; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}

/* ------------------------
    border
------------------------*/
.border-top{border-top:1px solid #e9e9e9}

.no-border{border:0 none !important}
/* ------------------------
    btn
------------------------*/

.btn-default{
	position: static;
    display: inline-block;
    height: auto;
    border-radius: 50px;
    text-indent: 0;
    transition: all .6s;
    
	border: 2px solid #333; 
	font-size: 1rem;
	padding: 0.5rem 1rem;color:#333; background:#f0f0f0
}
.btn-select{
background:#333; color:#fff; 
}

 .btn-default:hover{background:#333; color:#fff; }


 .btn-light{
	position: static;
    display: inline-block;
    height: auto;
    border-radius: 50px;
    text-indent: 0;
    transition: all .6s;
    
	border: 2px solid #d1d1d1; 
	font-size: 1rem;
	padding: 0.5rem 1.5rem;color:#d1d1d1; background:#f0f0f0; color:#d1d1d1
}

  .btn-default:hover:disabled{background: none;color:#fff;border:2px solid #d1d1d1;background:#d1d1d1}
   .btn-default:disabled{background: none;color:#fff;border:2px solid #d1d1d1; background:#d1d1d1}




  /************************.............. form ....................***************************/

  .height200 { height: 200px; }
.height300 { height: 300px; }
.width100p { width: 100%; }
.width300 { width: 300px; }

 input[type="text"],  input[type="search"],  input[type="password"], input[type="email"], input[type="tel"] {
    border: 1px solid #d5d3d3;
    color: #616163;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    outline: none;
    font-size: 1em;
    height: 2.8em;
}

 .form-control{ background:#f0f0f0}

.form-control:focus {
  border-color: #e7e7e7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e7e7e7;
}

input, textarea, select, a { outline: none !important; }
input:focus, textarea:focus, select:focus{ outline: none; } 

.select2-container--default {width:100% !important}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 8px);
}


select {
	background: #F0F3FB;
	border: 1px solid #F0F3FB;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
  	font-size: 1em;
  	position: absolute;
  	top: 0.5em;
  	left: 20px;
  	color: #434B67;
  	pointer-events: none;
}

select::-ms-expand {
  display: none;
}

select option:hover,
select option:focus,
select option:active {
    background: linear-gradient(#000000, #000000);
    background-color: #000000 !important; /* for IE */
    color: #ffed00 !important;
}

select option:checked {
    background: linear-gradient(#d6d6d6, #d6d6d6);
    background-color: #d6d6d6 !important; /* for IE */
    color: #000000 !important;
}

.bg-secondary{ background-color:#f7f7f7 !important}



.lang img{width:20px}

.text-muted {color:#525252 !important
 
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #1bb1dc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  
  #topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
  }
  
  #topbar .social-links {
    text-align: right;
  }
  
  #topbar .social-links a {
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
  }
  
  #topbar .social-links a:hover {
    color: #1bb1dc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    height: 110px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header.header-scrolled,
  #header.header-pages {
    height: 70px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
  #header.header-scrolled #topbar,
  #header.header-pages #topbar {
    display: none;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #413e66;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
  }
  
  .main-pages {
    margin-top: 60px;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("./assets/images/intro-bg.jpg") center top no-repeat;
    background-size: cover;
  }
  
  #intro .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro .intro-info h2 span {
    color: #1bb1dc;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
   font-family: 'Cairo';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover,
  #intro .intro-info .btn-services:hover {
    background: #0a98c0;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  /* Desktop Navigation */
  
  .main-nav {
    /* Drop Down */
    /* Deep Drop Down */
  }
  
  .main-nav,
  .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .main-nav a {
    display: block;
    position: relative;
    color: #413e66;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Cairo';
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .main-nav a:hover,
  .main-nav .active > a,
  .main-nav li:hover > a {
    color: #1bb1dc;
    text-decoration: none;
  }
  
  .main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .main-nav .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #065e77;
  }
  
  .main-nav .drop-down ul a:hover,
  .main-nav .drop-down ul .active > a,
  .main-nav .drop-down ul li:hover > a {
    color: #1bb1dc;
  }
  
  .main-nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
  }
  
  .main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .main-nav .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  }
  
  /* Mobile Navigation */
  
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover,
  .mobile-nav .active > a,
  .mobile-nav li:hover > a {
    color: #8dc2fa;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\f077";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  
  /* Sections Header
  --------------------------------*/
  
  .section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
   font-family: 'Cairo';
  }
  
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
  }
  
  /* Section with background
  --------------------------------*/
  
  .section-bg {
    background: #f5f8fd;
  }
  
  
  
  /*--------------------------------------------------------------
  # Responsive Media Queries
  --------------------------------------------------------------*/
  
  @media (min-width: 991px) {
    #call-to-action .cta-btn-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  
  @media (min-width: 992px) {
    #intro .intro-info {
      padding-top: 80px;
    }
  
    #testimonials .testimonial-item p {
      width: 80%;
    }
  }
  
  @media (max-width: 991px) {
    #topbar {
      display: none;
    }
  
    #header {
      height: 70px;
      padding: 15px 0;
    }
  
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  
    #why-us .why-us-content {
      padding-top: 30px;
    }
  
    #pricing {
      padding-bottom: 30px;
    }
  
    #pricing .card {
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  
    #faq #faq-list a {
      font-size: 18px;
    }
  
    #faq #faq-list i {
      top: 13px;
    }
  }
  
  @media (max-width: 767px) {
    #intro {
      height: auto;
      padding: 80px 0 60px 0;
    }
  
    #intro .container {
      height: auto !important;
    }
  
    #intro .intro-img {
      width: 80%;
    }
  
    #intro .intro-info {
      text-align: center;
      padding-top: 40px;
    }
  
    #intro .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  
    .section-header p {
      width: 100%;
    }
  
    #testimonials .testimonial-item {
      text-align: center;
    }
  
    #testimonials .testimonial-item .testimonial-img {
      float: none;
      margin: auto;
    }
  
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
      margin-left: 0;
    }
  }
  
  @media (max-width: 574px) {
    #footer .footer-top .social-links a {
      margin-bottom: 25px;
    }
  }